.header {
    width: 100%;
    border: 1px solid;
    height: 180px;
    background-color: cadetblue;
    font-size: 80px;
    text-align: center;
}

.childComponent {
    width: 80%;
    margin-left: 10%;
    height: 180px;
    text-align: center;
    font-size: -webkit-xxx-large;
    background: antiquewhite;
    border: 1px solid;
}

.addButton{
    font-size: 71px;
    background-color: azure;
    margin-left: 145px;
}